{% extends 'base.html' %}
{% block content %}
{% load static %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<div class="container mt-5">


    <div class="accordion" id="accordionCategorias">
    {% for categoria in categorias %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ categoria.id }}">
            <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ categoria.id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ categoria.id }}">
                {% if categoria.icone %}
                    <img src="{{ categoria.icone.url }}" alt="Ícone" width="24" height="24" class="me-2">
                {% else %}
                    <i class="bi bi-tag-fill me-2"></i>  <!-- Bootstrap ícone padrão -->
                {% endif %}
                <strong>{{ categoria.nome }}</strong>
            </button>
        </h2>
        <div id="collapse-{{ categoria.id }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ categoria.id }}" data-bs-parent="#accordionCategorias">
            <div class="accordion-body">
                <div class="row">
                    {% for produto in produtos %}
                        {% if produto.categoria.id == categoria.id and produto.disponivel %}
                        <div class="col-md-auto">
                            <center>
                                <div class="product-card card text-center" data-id="{{ produto.id }}">
                                    {% csrf_token %}
                                    {% if produto.imagem %}
                                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="product-img mb-3">
                                    {% else %}
                                    <img src="{% static 'imagens/imagem_padrao.jpg' %}" alt="img" class="product-img mb-3">
                                    {% endif %}
                                    <div class="product-name">{{ produto.nome }}</div>
                                    <div class="product-description">{{ produto.descricao }}</div>
                                    <div class="product-price">R$ {{ produto.preco|floatformat:2 }}</div>
                                    <div class="detalhe"> (preço unitário) </div>

                                    {% if produto.trocavel_por_pontos %}
                                    <p>Disponível para troca por {{ produto.pontos_troca }} pontos</p>
                                    <input type="hidden" name="pontos_troca" value="{{ produto.pontos_troca }}" id="pontos_troca" />
                                    {% endif %}

                                    <div class="mt-3 d-flex align-items-center justify-content-between">
                                        <span class="quantity d-none">
                                            <button class="btn btn-danger btn-sm" onclick="removeItem(this, {{ produto.id }})">-</button>
                                            <span id="quantidade-{{ produto.id }}" class="mx-2 border rounded shadow">0</span>
                                        </span>
                                        <button class="btn btn-success btn-sm add-btn" onclick="addItem(this, {{ produto.id }}, {{ produto.preco|floatformat:2 }})">+</button>
                                    </div>

                                    <input type="hidden" name="quantidade_{{ produto.id }}" value="0" id="campo-quantidade-{{ produto.id }}" />
                                </div>
                            </center>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div id="subtotal-fixed" class="subtotal-fixed">
    <strong> Subtotal: </strong> <span id="subtotal-fixed-value">R$ 0,00</span>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const summaryContainer = document.querySelector('.summary-container');
        const fixedSubtotal = document.querySelector('#subtotal-fixed');

        function updateFixedSubtotal() {
            const summaryTop = summaryContainer.getBoundingClientRect().top;
            const windowHeight = window.innerHeight;

            if (summaryTop <= windowHeight) {
                fixedSubtotal.classList.add('d-none'); // Oculta o subtotal fixo
            } else {
                fixedSubtotal.classList.remove('d-none'); // Mostra o subtotal fixo
            }
        }

        // Atualiza o subtotal fixo ao rolar ou quando houver mudanças no subtotal original
        window.addEventListener('scroll', updateFixedSubtotal);

        // Sincroniza inicialmente ao carregar a página
        updateFixedSubtotal();
    });

</script>
<hr>

<div class="summary-container text-center mt-5 p-4 rounded shadow">
      <div id="itens-pedido" class="summary-item-primeiro">
        <strong>Itens do Pedido: Quantidade</strong>
        <ul id="itens-lista" class="align-right"></ul>
    </div>
    <div id="subtotal" class="summary-item">
        <strong>Subtotal: </strong> <span id="subtotal-value" class="value">R$ 0,00</span>
    </div>
    <div id="taxa-entrega" class="summary-item">
        <strong>Taxa de Entrega: </strong> <span class="value">R$ 0,00</span>
    </div>
    <div id="acrescimo-value" class="summary-item d-none">
        <strong>Taxa Cartão Crédito (5%): </strong> <span class="value">R$ 0,00</span>
    </div>
    <div id="total" class="summary-item total mt-3">
        <strong>Total: </strong> <span id="total-value" class="value">R$ 0,00</span>
    </div>

</div>
<hr>
<div class="ultima-home">
     <!-- Botões para Delivery e Retirada -->
     <div class="d-flex justify-content-between mb-4">
        <button id="btn-delivery" class="btn btn-primary w-50 me-2 active" type="button" onclick="selecionarOpcao('delivery')">
            Entregamos para você
        </button>
        <button id="btn-retirada" class="btn btn-secondary w-50 ms-2" type="button" onclick="selecionarOpcao('retirada')">
            Retirar no local
        </button>
    </div>
    <!--- Formulário -->
    <form id="pedido-form" method="post" action="{% url 'criar_pedido' %}">

        {% csrf_token %}

        <!-- Campo Bairro -->
        <div id="campo-bairro" class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <select name="bairro" id="bairro" class="form-select" onchange="updateTotal()" required>
                <option value="" disabled selected>Selecione um bairro</option>
                {% for bairro in bairros %}
                    <option value="{{ bairro.id }}"
                    data-taxa="{{ bairro.taxa_entrega|floatformat:2|default:0 }}"
                    {% if bairro.nome == "Retirada" %}hidden{% endif %}
                >
                    {{ bairro.nome }} - R$ {{ bairro.taxa_entrega|floatformat:2 }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Campo Mapa, caso retirada-->

        <div id="mapa-retirada" class="d-none">
            <h4>Endereço para retirada</h4>
            <textarea class="d-flex w-100 mb-1" style="text-align: left;"  rows="1"> Rua Constancio Gomes, nº 1252, Centro - Pedro Afonso</textarea>
            <a href="https://www.google.com/maps/dir/?api=1&destination=-8.976810036507255, -48.1765817221092"
            target="_blank"
            class="map-button">
             Abrir no Google Maps
         </a>
        </div>

        <!-- Campo Endereço -->
        <div id="endereco-container" class="mb-2">
            <label for="endereco" class="form-label">Endereço</label>
            <input class="w-100" type="text" id="endereco" name="endereco" value="{{ ultimo_endereco }}" placeholder="Digite seu endereço | Ex.: Rua tal, 123, perto do ... " style="height: 40px;" required>
        </div>

    </form>


        <!-- Campo de seleção de forma de pagamento -->
        <div class="mb-3">
            <label for="forma_pagamento" class="form-label">Forma de Pagamento</label>
            <select name="forma_pagamento" id="forma_pagamento" class="form-select" onchange="updateTotal()" required>
                <option value="" disabled selected>Selecione a forma de pagamento</option>
                <option value="dinheiro">Dinheiro</option>
                <option value="pix">PIX</option>
                <option value="cartaodebito">Cartão Débito</option>
                <option value="cartaocredito">Cartão Crédito</option>

            </select>
        </div>

        <!-- Campo de Troco (aparece somente se a forma de pagamento for dinheiro) -->
        <div id="campo-troco" class="mb-3 d-none">
            <label for="troco" class="form-label">Troco para quanto?</label>
            <input type="number" name="troco" id="troco" class="form-control" placeholder="Digite o valor" min="0" step="5.00">
        </div>
          <!-- Campo de Pix (aparece somente se a forma de pagamento for pix) -->
          <div id="campo-pix" class="campo-pix mb-5 d-none">
            <center><img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExM24wdnI2eXZybzk0YXdzdXdzMHh0OGt0ZmZybDJxOTNybjB3N2MwbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/SfM3t0EdCQWPwsVXrM/giphy.webp" alt="PIX"class="img-pix w-50"></center>
            <center><label for="pix-copia-e-cola">Chave Pix (copia e cola):</label></center>
            <input type="text" id="pix-copia-e-cola" class="form-control" readonly>
            <center><button id="botao-copiar-pix" class="btn btn-primary mb-3 mt-1">Copiar</button></center>
        </div>
        <div id="imagem-maquininha" class=" d-none">
           <center> <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/6530907-pagamento-contador-dispositivo-cartao-maquina-icone-em-design-isometrico-vetor.jpg" class="mb-3" alt="Cartão" width="100px" height="100px"> </center>
        </div>
        <button id="btn-enviar-pedido" type="button" class="btn btn-success w-100" onclick="enviarPedido()">Enviar Pedido</button>
    </form>
</div>
<input type="hidden" name="subtotal" id="subtotal-hidden" value="0.00">
<input type="hidden" name="pontos-cliente" id="pontos-cliente" value="{{ user.pontos }}">




{% endblock %}