{% extends 'base.html' %}
{% block content %}
{% load static %}   
 <!-- Conteúdo principal -->
    <div class="container mt-5">
        <h1 id="cardapio" class="text-center mb-4">Cardápio</h1>
        <div class="row">
            {% for produto in produtos %}
            <div class="col-md-4">
                <div class="product-card text-center">
                    {% csrf_token %}
                    <!-- Imagem do Produto -->
                    {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="product-img mb-3">
                    {% else %}
                    <img src="{% static 'imagens/imagem_padrao.jpg' %}" alt="img" class="product-img mb-3">
                    {% endif %}
                    <!-- Nome do Produto -->
                    <div class="product-name">{{ produto.nome }}</div>

                    <!-- Descrição do Produto -->
                    <div class="product-description">{{ produto.descricao }}</div>

                    <!-- Preço do Produto -->
                    <div class="product-price">R$ {{ produto.preco|floatformat:2 }}</div>

                    <!-- Botões de quantidade -->
                    <div class="mt-3">
                        <button class="btn btn-success btn-sm add-btn" onclick="addItem(this)">+</button>
                        <span class="quantity d-none">
                            <span id="quantidade-{{ produto.nome}}" class="mx-2">0</span>
                            <input type="number" name="quantidade_{{ produto.nome }}" min="0" value="0" class="d-none w-50 align-center" >
                            <button class="btn btn-danger btn-sm" onclick="removeItem(this)">-</button>
                        </span>
                    </div>
                    <input type="hidden" name="quantidade_{{ produto.nome }}" value="0" id="campo-quantidade"/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<hr>
    <div class="summary-container text-center mt-5 p-4 rounded shadow">
        <div id="subtotal" class="summary-item">
            <strong>Subtotal:</strong> <span class="value">R$ 0,00</span>
        </div>
        <div id="taxa-entrega" class="summary-item">
            <strong>Taxa de Entrega:</strong> <span class="value">R$ 0,00</span>
        </div>
         <div id="acrescimo" class="summary-item d-none">
                <strong>Taxa Cartão Crédito (5%):</strong> <span class="value">R$ 0,00</span>
            </div>
        <div id="total" class="summary-item total mt-3">
            <strong>Total:</strong> <span class="value">R$ 0,00</span>
        </div>
    </div>
 <hr>   
    <form method="post" action="{% url 'finalizar_pedido' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="bairro" class="form-label">Bairro</label>
                <select name="bairro" id="bairro" class="form-select" onchange="updateTotal()" required>
                    <option value="" disabled selected>Selecione um bairro</option>
                    {% for bairro in bairros %}
                        <option value="{{ bairro.id }}" data-taxa="{{ bairro.taxa_entrega|floatformat:2|default:0 }}">{{ bairro.nome }} - R$ {{ bairro.taxa_entrega|floatformat:2 }}</option>
                    {% endfor %}
                </select>                
            </div>
            
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                <textarea name="endereco" id="endereco" class="form-control" placeholder="Digite o endereço" rows="2" required></textarea>
            </div>

            <!-- Campo de seleção de forma de pagamento -->

            <div class="mb-3">
                <label for="forma_pagamento" class="form-label">Forma de Pagamento</label>
                <select name="forma_pagamento" id="forma_pagamento" class="form-select" onchange="updateTotal()" required>
                    <option value="" disabled selected> Selecione a forma de pagamento</option>
                    <option value="dinheiro">Dinheiro</option>
                    <option value="pix">PIX</option>
                    <option value="cartaodebito">Cartão Débito</option>
                    <option value="cartaocredito">Cartão Crédito</option>
                </select>
            </div>

            <!-- Campo de Troco (aparece somente se a forma de pagamento for dinheiro) -->
           
            <div id="campo-troco" class="mb-3 d-none">
                <label for="troco" class="form-label">Troco para quanto?</label>
                <input type="number" name="troco" id="troco" class="form-control" placeholder="Digite o valor" min="0" step="5.00">
            </div>
            <button type="button" class="btn btn-success w-100" onclick="enviarPedido()">Finalizar Pedido</button>
        </form>
    </div>
    <input type="hidden" name="subtotal" id="subtotal-value" value="0.00">
    <input type="hidden" name="itens" id="itens">
    <form id="pedido-form" method="POST" action="/finalizar_pedido/">
        {% csrf_token %}
        <input type="hidden" name="endereco" id="form-endereco">
        <input type="hidden" name="subtotal" id="form-subtotal">
        <input type="hidden" name="total" id="form-total">
        <input type="hidden" name="taxa_entrega" id="form-taxa-entrega">
        <input type="hidden" name="taxa_cartao_credito" id="form-taxa-cartao">
        <input type="hidden" name="troco" id="form-troco">
        <input type="hidden" name="bairro" id="form-bairro">
        <input type="hidden" name="forma_pagamento" id="form-pagamento">
        <input type="hidden" name="produtos" id="form-produtos">
    </form>

{% endblock %}